@font-face {
    font-family: "Mortal-Kombat";
    src: url(fonts/MK4.TTF) format("truetype");
}

:root {
    font-family: "Mortal-Kombat";
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:#dfdfdf ;
    border-bottom: solid 4px #000;
}

body{
    margin: 0;
    background: url("./img/fundo-1.jpg") no-repeat;
    background-position: 0px -190px;
    background-color: #000;
    background-size: cover;
}

.player_turn_box, .cpu_turn_box{
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: last baseline;
    align-items: center;
}

main {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
}

.cpu_turn_box img, .player_turn_box img{
    width: 400px;
}

.cpu_turn_box img{
    transform: rotateY(180deg);
}

.cpu_name_box, .player_name_box{
    text-align: center;
    padding: 10px 0px 10px 0px;
    background-color: rgba(104, 99, 99, 0.5);
    border: solid 3px #000;
    border-radius: 10px;
}

#cpu_name, #player_name{
    text-shadow: 0px 0px 7px #000;
    color: #fff;
    background: transparent;
    border: 0;
    text-align: center;
    font-family: "Mortal-Kombat";
    font-size: 28px;
    font-weight: bold;
	cursor: default;
}

#cpu_name:focus, #player_name:focus{
    outline: none;
}

#cpu_name:hover{
    cursor: pointer;
    text-shadow: 0px 0px 7px #000fb7;
}
#player_name:hover{
    cursor: pointer;
    text-shadow: 0px 0px 7px #bcb600;
}

#vit_jogador, #vit_cpu{
    margin: 0;
    font-size: 50px;
    color: #fff;
    text-shadow: 0px 0px 7px #000;
}

.main_content{
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: center; 
    width: 70vh;
    height: 80vh;
    padding:    30px 25px 0px 25px;
    border-left: solid 4px rgba(0,0,0,0.5);
    border-right: solid 4px rgba(0,0,0,0.5);
}

.main_title{
    padding: 20px 0px 20px 0px;
    text-align: center;
}

.main_title p{
    margin: 0;
    font-size: 60px;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}

#number_count{
    position: absolute;
    font-size: 250px;
    top: 40%;
    left: 50%;
    color: #fff;
    transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
    transition: 1s  ;
}

table{
    background-color: #a5adb5;
}

table button {
    padding: 5px 5px 5px 5px;
    border: none;
    font-family: "Mortal-Kombat";
	width: 110px;
	height: 110px;
	font-size: 85px;
	cursor: grab;
	background-color: gray;
}

.button{
    position:relative;
    display:inline-block;
    margin:20px;
  }
  
  .button #iniciar{
    color:white;
    font-family: "Mortal-Kombat";
    letter-spacing: 7px;
    font-weight:bold;
    font-size:36px;
    text-align: center;
    text-decoration:none;
    background-color:#ff2b2b;
    display:block;
    position:relative;
    padding:20px 40px;
    
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);
    
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #910000;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #910000;
    box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #910000;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  
  .button #iniciar:active{
    top:10px;
    background-color:#f70000;
    
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;
    box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
  }
  
  .button:after{
    content:"";
    height:100%;
    width:100%;
    padding:4px;
    position: absolute;
    bottom:-15px;
    left:-4px;
    z-index:-1;
    background-color:#2B1800;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

p {
    font-size: 28px;
    font-weight: bold;
	cursor: default;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.c3 {
	font-size: 20px;
    margin-top: 25px;
}

#botoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.floating-cpu { 
    animation-name: floating-cpu;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating-cpu {
    0% {
        transform: translate(0, 0px) rotateY(180deg);
    }
    50% {
        transform: translate(0, 15px) rotateY(180deg);
    }
    100% {
        transform: translate(0, 0px) rotateY(180deg);
    }
}

.floating-player { 
    animation-name: floating-player;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating-player {
    0% {
        transform: translate(0, 0px) rotateY(0deg);
    }
    50% {
        transform: translate(0, 15px) rotateY(0deg);
    }
    100% {
        transform: translate(0, 0px) rotateY(0deg);
    }
}

.wating{
    opacity: 0.5;
}